body {
  font-family: "IBM Plex Mono", monospace;
  background-color: #0d0d0d;
  color: aliceblue;
  box-sizing: border-box;
}

.navbar .container {
  background-color: #1b1b1b;
  height: 70px;
}
.navbar .container .nav-item {
  font-size: 14px;
}
.landing {
  background-color: #080808;
  height: calc(100vh - 78px);
}
.introduce .port-name {
  font-family: "Lucida Sans"
}
.introduce button {
  background-color: #3f8e00;
  box-shadow: 1px 1px 5px 3px #3F8E0080;
  width: 60%;
  height: 50px;
}

.worked__items {
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 5%;
  cursor: pointer;
}
.worked__items:hover {
  color: #3f8e00;
}
.exp .experience__text span,
.exp .experience__text button {
  width: fit-content;
}
.exp .experience__text button {
  color: white;
}
.exp .experience__text button:hover {
  cursor: pointer;
}

.exp .experience__text .experience__name--1 {
  background-color: #fff6e9;
  color: #ffa217;
}
.exp .experience__text .experience__name--2 {
  background-color: #d0e6ff;
  color: #000aff;
}
.exp .experience__text .experience__name--3 {
  background-color: #e0fff8;
  color: #2ab090;
}
.exp .experience__text .exp-btn {
  background-color: #ffa217;
}
.exp .experience__text .exp-btn-2 {
  background-color: #000aff;
}
.exp .experience__text .exp-btn-3 {
  background-color: #2ab090;
}
.exp img {
  width: 445px;
  height: 300px;
}

.testimonial__cards--item {
  border: 1px solid;
  border-image: linear-gradient(45deg, #484848, #1B1B1B00) 1;
  position: relative;
}
.testimonial__cards--item::before {
  content: "“"; 
  font-size: 3rem;   
  color: white; 
  position: absolute;
  top: -25px;
  left: 15px; 
  font-family: Georgia, serif; 
}
.testimonial__image--container img {
  width: 20%;
}

.recent__works--cards button {
  width: fit-content;
  background-color: #3f8e00;
  box-shadow: 2px 2px 3px 1px #62ba1b;
}
.in-touch-form-input-submit input {
  background-color: #3f8e00;
}
.message-form textarea {
  height: 150px;
  resize: none;
}